<div class="countdown-container">
  <div class="timer">
    <div class="time-block">
      <span class="number">{{days}}</span>
      <span class="label">Gün</span>
    </div>
    <div class="time-block">
      <span class="number">{{hours}}</span>
      <span class="label">Saat</span>
    </div>
    <div class="time-block">
      <span class="number">{{minutes}}</span>
      <span class="label">Dakika</span>
    </div>
    <div class="time-block">
      <span class="number">{{seconds}}</span>
      <span class="label">Saniye</span>
    </div>
  </div>
</div>
